<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label *ngIf="restaurants && restaurants.length > 0 && hasResponse">Elige restaurante</ion-label>
    <ion-label *ngIf="restaurants && restaurants.length === 0 && hasResponse">Sin restaurantes para elegir</ion-label>
    <ion-select *ngIf="restaurants && restaurants.length > 0" [(ngModel)]="idRestaurant" (ionChange)="selectedRestaurant()">
      <ion-option *ngFor="let restaurant of restaurants" value="{{restaurant.id}}">{{restaurant.name}}</ion-option>
    </ion-select>
  </ion-item>
</ion-content>