// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/nunitosans-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/nunitosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/nunitosans-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/nunitosans-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}


$break-desktop-large: 1280px;

body {
	* {
		font-family: 'Nunito', Open Sans, sans-serif;
	}

	.vertical {
		display: table;
		margin: 0 auto;
		height: 100%;
		width: 100%;

		.align {
			display: table-cell;
			vertical-align: middle;
		}
	}

	h1 {
		font-size: 56px;
		font-weight: bold;
		color: #C9A96C;
		text-align: center;
		margin: 45px 0 90px;

		@media screen and (min-width: $break-desktop-large) {
			font-size: 72px;
		}

		&:after {
			content: '';
			display: block;
			width: 50px;
			margin: 25px auto 35px;
			border-bottom: 2px dotted;
		}
	}

	h2:not(.alert-title) {
		text-align: center;
		text-transform: uppercase;
		font-size: 28px;
		font-weight: bold;
		color: #333;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		max-width: 150%;
		position: absolute;
		bottom: -5px;
		left: 50%;
		transform: translateX(-50%);
	}

	img {
		display: block;
		margin: 0 auto;
	}

	#claimImg {
		display: block;
		position: fixed;
		z-index: 999;
		top: 50%;
		left: 50%;
		width: 100vw;
		height: 100vh;
		transition: .3s all ease;
		pointer-events: none;
		opacity: 0;
		transform: translate(-50%,-50%) scale(.5);
		background-color: white;

		img {
			width: 100%;
			height: auto;
			margin: auto;
		}
	}

	.scroll-content.visible {
		overflow: hidden;

		#claimImg {
			opacity: 1;
			transform: translate(-50%,-50%) scale(1);
			pointer-events: auto;
		}
	}

	/* Pantalla restaurantes */
	ion-item.item.item-block.item-md.item-select,
	.item-md .item-inner {
		width: 100%;
		max-width: 640px;
		margin: 0 auto;

		ion-label {
			font-size: 24px;
			color: #333;
		}
	}

	/* Trabajador */
	.worker {
		position: relative;
		padding-bottom: 35px;

		.avatar {
			width: 100%;
			margin: 0 auto 25px;

			img {
				width: 100%;
				border-radius: 100%;
			}
		}
	}

	/* Pantalla trabajadores */
	#workers {
		.vertical {
			position: relative;
			
			&:after {
				content: '';
				position: absolute;
				z-index: 2;
				bottom: 0;
				right: 0;
				height: 120px;
				width: 120px;
				background-color: white;
			}

			.align {
				padding-right: 10%;
				padding-left: 10%;

				h1 {
					margin-top: 45px;

					img {
						display: inline-block;
						vertical-align: text-top;
					}
				}

				&:after {
					content: '';
					display: block;
					clear: both;
				}

				.worker {
					float: left;
					width: 15%;
					margin: 0 5% 6vh;
				}
			}
		}

		#scrollIndicator {
			position: fixed;
			z-index: 1;
			right: 35px;
			bottom: 35px;
		}
	}

	/* Pantalla votación */
	#votation {
		.vertical {
			max-width: 80%;

			.align {
				h1 {
					margin-top: 0;
				}

				.worker {
					width: 100%;
					max-width: 320px;
					margin: 0 auto 8vh;
				}

				.rating {
					display: table;
					margin: 0 auto;

					.back,
					ion-icon[role="img"] {
						display: inline-block;
						background: url('../assets/imgs/back.png') no-repeat center center scroll transparent;
						background-size: 100% auto;
						width: 80px;
						height: 80px;

						&:not(:last-child) {
							margin-right: 25px;
						}

						@media screen and (min-width: $break-desktop-large) {
							width: 120px;
							height: 120px;

							&:not(:last-child) {
								margin-right: 45px;
							}
						}
					}

					ion-icon[role="img"] {
						&:before {display: none;}
						&:nth-child(2) { background-image: url('../assets/imgs/rate_05.png'); }
						&:nth-child(3) { background-image: url('../assets/imgs/rate_04.png'); }
						&:nth-child(4) { background-image: url('../assets/imgs/rate_03.png'); }
						&:nth-child(5) { background-image: url('../assets/imgs/rate_02.png'); }
						&:nth-child(6) { background-image: url('../assets/imgs/rate_01.png'); }
					}
				}
			}
		}
	}
}